%header
  %h1 Hosting for Farfromrest
  %nav
    = link_to 'Add Customer'
%div.main
  - 10.times do
    %section.customer
      %div.days
        %div.days_count 365
        Days
      = link_to do
        %h2 Acme Company
      %nav
        = link_to 'Edit'
        = link_to 'Cancel'
%footer
  %p= "&copy; #{Date.today.year} <a href=\"http://www.farfromrest.com\">Farfromrest Web Development, Inc.</a>".html_safe